<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Contacto}}</title>
</head>

<body>

    <ul>
        <l1><a href='/'>{{ Menu}}</a></l1>
        <l1><a href='/acerca'>{{ Acerca }}</a></l1>
        <l1><a href='/listarcontacto'>{{ Contacto }}</a></l1>
    </ul>
    <h1>{{Contacto}}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{accion}}</button>
    </form>

    <l1><a href='/admin/app/contacto/'>Consultar {{ Contacto }}</a></l1>

</body>

</html>